.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 30vh;
    background: linear-gradient(135deg, #f9d4f1, #e79034);
}
.block{
    position: relative;
    width: 200px;
    height: 100px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.block::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.block:nth-child(1)
{
    background: linear-gradient(135deg, #f403d1, #64b5f6);
}
.block:nth-child(2)
{
    background: linear-gradient(135deg, #ffec61, #f403d1);
}
.block:nth-child(3)
{
    background: linear-gradient(135deg, #24ff72, #2196F3);
}
.block:nth-child(4)
{
    background: linear-gradient(135deg, #24deff, #f36721);
}
.block:nth-child(5)
{
    background: linear-gradient(135deg, #242fff, #f32121);
}
.block:nth-child(6)
{
    background: linear-gradient(135deg, #fbff24, #8321f3);
}

.block h2{
    position: relative;
    /* font-size: 3em; */
    color:white;
    
}